.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
}

.dialogsItems img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.dialogsItems .active {
    color: khaki;
}
.dialog {

}

.messages {
    padding: 10px;
}

.messages .message {

}